<div id="<%= dom_id lets_talk_submission %>">
  <p>
    <strong>Fullname:</strong>
    <%= lets_talk_submission.fullname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lets_talk_submission.email %>
  </p>

  <p>
    <strong>How can i help:</strong>
    <%= lets_talk_submission.how_can_i_help %>
  </p>

</div>
