<h1>Editing lets talk submission</h1>

<%= render "form", lets_talk_submission: @lets_talk_submission %>

<br>

<div>
  <%= link_to "Show this lets talk submission", @lets_talk_submission %> |
  <%= link_to "Back to lets talk submissions", lets_talk_submissions_path %>
</div>
