<p style="color: green"><%= notice %></p>

<h1>Lets talk submissions</h1>

<div id="lets_talk_submissions">
  <% @lets_talk_submissions.each do |lets_talk_submission| %>
    <%= render lets_talk_submission %>
    <p>
      <%= link_to "Show this lets talk submission", lets_talk_submission %>
    </p>
  <% end %>
</div>

<%= link_to "New lets talk submission", new_lets_talk_submission_path %>
